@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Noto+Sans:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "devicon/devicon.min.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Noto Sans", sans-serif;
  --font-inter: "Inter", serif;

  --animate-bounceOrig: bounceOrig 1.5s infinite;
  @keyframes bounceOrig {
    0%,
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(15%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

:root {
  --background: oklch(0.1445 0.0047 263.79);
  --foreground: oklch(0.1864 0.0088 264.34);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
