---
import "../styles/global.css";
import { Image } from "astro:assets";
import Headshot from "../assets/MichaelHeadshot.jpg";
import SocialIcons from "./SocialIcons.astro";
---

<div
    class="container mx-auto flex flex-col-reverse items-center gap-4 py-4 text-center md:flex-row md:items-start md:text-start"
>
    <div class="flex flex-col items-center gap-4 pr-4 md:items-start">
        <div>
            <h1 class="font-sans text-5xl font-bold tracking-tighter">
                Hi, I'm Michael
            </h1>
            <p
                class="mx-auto mt-4 text-lg/6 text-balance text-gray-300 md:pr-4 md:text-wrap"
            >
                20-year-old software engineer and Computer Science student at
                Oregon State University, <span
                    class="font-bold text-emerald-500"
                    >graduating June 2026</span
                >. Relocating to
                <span class="font-bold text-emerald-500">NJ/NYC</span> and seeking
                full-time opportunities.
            </p>
        </div>
        <div>
            <p class="text-gray-400">Interested in my experience?</p>
            <SocialIcons />
        </div>
    </div>
    <Image
        src={Headshot}
        alt="A headshot of Michael"
        height="250"
        class="mr-2 rounded-4xl shadow-sm ring-2 shadow-emerald-500/10 ring-emerald-500 transition-all duration-300 hover:rotate-1 hover:shadow-lg hover:ring-4 hover:shadow-emerald-500/40"
    />
</div>
