---
import ExperienceButton from "./ExperienceButton.astro";
import ExperienceContent from "./ExperienceContent.astro";
import ExperiencePoint from "./ExperiencePoint.astro";
---

<div class="container mt-4">
    <div
        id="switcher"
        class="bg-foreground mb-2 grid w-full grid-cols-2 items-center justify-center rounded-lg p-1"
    >
        <ExperienceButton title="Work" active left />
        <ExperienceButton title="Education" right />
    </div>
    <ExperienceContent id="Work" active>
        <ExperiencePoint
            imagePath="/OSUCrest.png"
            link="https://oregonstate.edu/"
            date="October 2025 - Present"
            location="Computer Science Peer Educator"
            role="College of Engineering, Oregon State University"
            bullets={[
                "Debugged and optimized implementations under time-constrained conditions, rapidly adapting to unfamiliar codebases and resolving ambiguous issues",
                "Solved complex data structures and algorithm problems by breaking down logic, identifying edge cases, and guiding solutions from approach to implementation",
                "Improved student understanding in Data Structures, Algorithms, and Web Development by delivering targeted 1-on-1 instruction to 5–15 students per term",
            ]}
        />

        <ExperiencePoint
            imagePath="/beaverstore.jpg"
            link="https://osubeaverstore.com/"
            date="June 2024 - July 2025"
            location="Web Assistant"
            role="OSU Beaver Store"
            bullets={[
                "Reduced manual back stock processing time by building an internal Python tool that scraped product images and catalog data to generate printable labels",
                "Maintained data quality and consistency across a large-scale e-commerce catalog by auditing thousands of listings and standardizing 500+ product assets",
                "Improved site consistency and usability by analyzing external reports and implementing changes to content structure and presentation",
            ]}
        />
    </ExperienceContent>

    <ExperienceContent id="Education">
        <ExperiencePoint
            imagePath="/OSUCrest.png"
            link="https://oregonstate.edu/"
            date="September 2023 - June 2026"
            location="Bachelor of Science in Computer Science"
            role="Oregon State University"
            bullets={[
                "3.96 GPA",
                "Courses taken in: Data Structures, Algorithms, Software Engineering, Assembly and Computer Architecture, Operating Systems, Web Development, Usability Engineering, Web Security, Computer Networks, Information Retrieval, and more",
                "Graduating June 2026",
            ]}
        />
    </ExperienceContent>

    <script>
        const workButton = document.getElementById("workButton");
        const educationButton = document.getElementById("educationButton");
        const workContent = document.getElementById("Work");
        const educationContent = document.getElementById("Education");

        workButton.addEventListener("click", () => {
            if (workButton?.hasAttribute("data-active")) {
                return;
            }
            workButton?.toggleAttribute("data-active");
            educationButton?.toggleAttribute("data-active");

            workContent.toggleAttribute("data-active");
            educationContent.toggleAttribute("data-active");
        });

        educationButton.addEventListener("click", () => {
            if (educationButton?.hasAttribute("data-active")) {
                return;
            }
            educationButton?.toggleAttribute("data-active");
            workButton?.toggleAttribute("data-active");

            workContent.toggleAttribute("data-active");
            educationContent.toggleAttribute("data-active");
        });
    </script>
</div>
