---
import ExperienceButton from "./ExperienceButton.astro";
import ExperienceContent from "./ExperienceContent.astro";
import ExperiencePoint from "./ExperiencePoint.astro";
---

<div class="container mt-4">
  <div
    id="switcher"
    class="mb-2 grid w-full grid-cols-2 items-center justify-center rounded-lg bg-gray-800 p-1"
  >
    <ExperienceButton title="Work" active left />
    <ExperienceButton title="Education" right />
  </div>
  <ExperienceContent id="Work" active>
    <ExperiencePoint
      imagePath="/OSUCrest.png"
      link="https://oregonstate.edu/"
      date="October 2025 - Present"
      location="Computer Science Peer Educator"
      role=" College of Engineering, Oregon State University"
      bullets={[
        "Improved student proficiency in programming logic and algorithms by tutoring Computer Science concepts and bridging knowledge gaps across languages using guided problem-solving and conceptual questioning",
        "Increased student effectiveness in solving programming problems by analyzing and debugging code, explaining algorithmic reasoning, and applying foundational CS concepts",
        "Maintained academic integrity and an engineering mindset by guiding students through solutions using targeted questions rather than providing direct answers",
        "Improved learning outcomes by adapting technical explanations to diverse experience levels in a collaborative academic environment",
      ]}
    />
    <ExperiencePoint
      imagePath="/beaverstore.jpg"
      link="https://osubeaverstore.com/"
      date="June 2024 - July 2025"
      location="Web Assistant"
      role="OSU Beaver Store"
      bullets={[
        "Processed 70-300+ weekly orders with high accuracy, adapting to seasonal workload fluctuations.",
        "Edited 500+ product photos and uploaded hundreds of listings, ensuring consistent formatting and collaborating with the Website Specialist to maintain web content quality.",
        "Assisted customers in person by locating products, answering questions, and providing tailored recommendations.",
        "Reviewed and managed thousands of digital product listings to ensure accuracy, formatting consistency, and up-to-date availability across the online catalog.",
      ]}
    />
  </ExperienceContent>

  <ExperienceContent id="Education">
    <ExperiencePoint
      imagePath="/OSUCrest.png"
      link="https://oregonstate.edu/"
      date="September 2023 - Present"
      location="Oregon State University"
      role="Bachelor of Science in Computer Science"
      bullets={[
        "3.98 GPA",
        "Courses taken in: Data Structures, Algorithms, Software Engineering, Assembly and Computer Architecture, Operating Systems, Web Development, Usability Engineering, Security, Computer Networks, and more.",
        "Expected to graduate August 2026",
      ]}
    />
  </ExperienceContent>

  <script>
    const workButton = document.getElementById("workButton");
    const educationButton = document.getElementById("educationButton");
    const workContent = document.getElementById("Work");
    const educationContent = document.getElementById("Education");

    workButton.addEventListener("click", () => {
      if (workButton?.hasAttribute("data-active")) {
        return;
      }
      workButton?.toggleAttribute("data-active");
      educationButton?.toggleAttribute("data-active");

      workContent.toggleAttribute("data-active");
      educationContent.toggleAttribute("data-active");
    });

    educationButton.addEventListener("click", () => {
      if (educationButton?.hasAttribute("data-active")) {
        return;
      }
      educationButton?.toggleAttribute("data-active");
      workButton?.toggleAttribute("data-active");

      workContent.toggleAttribute("data-active");
      educationContent.toggleAttribute("data-active");
    });
  </script>
</div>
