---
const { active, id } = Astro.props;
---

<div
    class={`container mt-2 outline-1 outline-gray-700 bg-foreground rounded-lg hidden data-active:block`}
    data-active={active ? "true" : undefined}
    id={id}
>
    <ul class="ml-10 border-l-1 border-gray-700">
        <slot />
    </ul>
</div>
