---

---

<script>
  const logoContainer = document.getElementById("logo-container");

  logoContainer.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>

<footer
  class="mt-8 mb-2 flex w-full flex-col items-center gap-2 text-xs text-gray-400 md:grid md:grid-cols-3"
>
  <p class="order-3 hover:text-gray-300 md:order-1">
    © 2026 Michael Zandonella
  </p>
  <div
    id="logo-container"
    class="group relative order-1 mx-auto flex h-12 w-16 items-center justify-center text-xl md:order-2"
  >
    <svg
      id="logo"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="#f0f5ff"
      class="absolute h-12 w-16 opacity-100 transition-opacity duration-200 group-hover:opacity-0"
      ><path
        d="M5.19,7.57v-.1s-.22-.21-.22-.21L.11,12.14c-.07.07-.11.16-.11.26s.04.19.11.26l4.71,4.71.17.14.2-.23v-1.09l-3.8-3.8,3.8-3.82v-1.01Z"
      ></path><path
        d="M23.89,12.11l-4.71-4.71-.15-.13-.22.19v1.1l3.8,3.8-3.8,3.82v1.11s.22.21.22.21l4.86-4.88c.07-.07.11-.16.11-.26s-.04-.19-.11-.26Z"
      ></path><path
        d="M6.25,18.66v-1.34s0-.04.02-.06l7.38-10s.02-.03.02-.05v-.2s-.02-.05-.05-.05l-5.07-.02s-.04.01-.06.03l-.17.79s-.01.01-.02.01l-1.43.04s-.03,0-.03-.02l-.25-2.42s.02-.05.05-.05h10.39s.05.02.05.05v1.5s0,.05-.02.07l-7.29,9.8s-.02.04-.02.06v.16s.03.07.07.07h5.56s.07-.02.09-.05l.26-.95s.01-.01.02-.01l1.43-.07s.03,0,.03.02l.26,2.68s-.01.03-.03.03H6.27s-.03-.01-.03-.03Z"
      ></path></svg
    >
    <svg
      id="wordmark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 120 24"
      class="absolute h-6 w-24 cursor-pointer opacity-0 transition-opacity duration-200 group-hover:opacity-100"
      fill="#f0f5ff"
      ><path
        d="M.16,23.87c-.1-.09-.16-.26-.16-.52v-1.16c0-.28.03-.49.1-.63.07-.14.23-.37.48-.7L12.39,4.59c.18-.28.09-.42-.28-.42H1.52c-.23,0-.39-.05-.47-.15-.08-.1-.12-.25-.12-.47V.55C.93.18,1.1,0,1.42,0h19.14C20.91,0,21.08.17,21.08.52v1.33c0,.19-.03.36-.1.5-.07.14-.2.33-.38.57l-12.08,16.5c-.12.15-.13.25-.03.31.09.05.21.08.35.08h11.49c.42,0,.62.16.62.49v3.14c0,.17-.05.31-.16.42-.1.11-.27.16-.5.16H.73c-.28,0-.47-.04-.57-.13Z"
      ></path><path
        d="M22.39,23.74c-.09-.17-.09-.4,0-.68L31.01.65c.09-.24.2-.4.31-.5C31.43.05,31.63,0,31.9,0h5.19C37.6,0,37.95.24,38.14.71l8.55,22.42c.07.17.07.36,0,.57-.07.21-.21.31-.42.31h-5.09c-.35,0-.57-.15-.66-.45l-1.8-4.72c-.02-.11-.06-.19-.12-.26-.06-.06-.17-.1-.33-.1h-8.45c-.23,0-.38.11-.45.32l-1.83,4.79c-.05.13-.12.23-.23.31-.1.08-.27.11-.5.11h-3.98c-.21,0-.36-.09-.45-.26ZM36.86,14.17c.32,0,.43-.18.31-.55l-2.91-7.57c-.07-.13-.14-.19-.23-.19s-.16.08-.22.23l-2.94,7.54c-.16.37-.06.55.31.55h5.68Z"
      ></path><path
        d="M69.36,0C69.66,0,69.81.16,69.81.48v23c0,.15-.06.27-.17.37-.12.1-.28.15-.48.15h-3.5c-.18,0-.33-.02-.45-.06-.12-.04-.25-.15-.42-.32l-11.04-14.49c-.09-.11-.18-.15-.26-.13-.08.02-.12.09-.12.19v14.23c.02.39-.21.58-.69.58h-3.6c-.46,0-.69-.18-.69-.55V.61C48.38.21,48.59,0,49,0h4.19C53.45,0,53.64.03,53.76.1c.13.06.27.19.43.39l10.18,13.55c.14.17.26.25.36.23.1-.02.16-.13.16-.32V.58C64.89.19,65.1,0,65.52,0h3.84Z"
      ></path><path
        d="M73.55,24c-.53,0-.8-.26-.8-.78V.68c0-.26.06-.44.17-.53C73.04.05,73.24,0,73.51,0h6.02C80.2,0,80.77.01,81.23.03c3.12.06,5.68.59,7.68,1.58,2.01.99,3.49,2.36,4.45,4.09.96,1.74,1.44,3.8,1.44,6.19s-.5,4.6-1.51,6.42c-1,1.82-2.53,3.22-4.57,4.21-2.04.98-4.6,1.47-7.67,1.47h-7.51ZM79.26,20.02h.66c1.89,0,3.47-.26,4.74-.79,1.27-.53,2.22-1.39,2.86-2.57.63-1.19.95-2.76.95-4.72s-.29-3.42-.88-4.58c-.59-1.15-1.49-2-2.7-2.54-1.21-.54-2.75-.81-4.62-.81h-1.11c-.23,0-.35.15-.35.45v15.11c0,.3.15.45.45.45Z"
      ></path><path
        d="M101.86,22.57c-1.78-.96-3.14-2.33-4.1-4.11-.96-1.78-1.44-3.91-1.44-6.36s.49-4.65,1.47-6.46c.98-1.81,2.36-3.2,4.14-4.17,1.78-.98,3.87-1.46,6.27-1.46s4.48.49,6.25,1.46c1.77.98,3.13,2.36,4.1,4.16.97,1.8,1.45,3.94,1.45,6.44s-.48,4.58-1.44,6.36c-.96,1.78-2.33,3.16-4.1,4.13-1.78.97-3.87,1.45-6.27,1.45s-4.56-.48-6.33-1.43ZM112.35,18.25c.88-1.25,1.32-3.29,1.32-6.13s-.44-5-1.33-6.31c-.89-1.31-2.27-1.97-4.14-1.97s-3.29.66-4.19,1.98c-.9,1.32-1.35,3.42-1.35,6.3s.44,4.85,1.33,6.11c.89,1.26,2.29,1.89,4.21,1.89s3.28-.62,4.15-1.87Z"
      ></path></svg
    >
  </div>
  <div class="order-2 flex justify-end gap-2 md:order-3">
    <a
      href="https://github.com/zandonella"
      target="_blank"
      rel="noopener noreferrer"
      class="group rounded-xl p-1 transition-colors duration-200 focus-visible:outline focus-visible:outline-indigo-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6 stroke-gray-400 transition-colors duration-200 group-focus-visible:stroke-white hover:stroke-white"
        ><path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
        ></path></svg
      >
    </a>
    <a
      href="https://www.linkedin.com/in/mzandonella/"
      target="_blank"
      rel="noopener noreferrer"
      class="rounded-xl p-1 transition-colors duration-200 focus-visible:outline focus-visible:outline-indigo-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6 stroke-gray-400 transition-colors duration-200 group-focus-visible:stroke-white hover:stroke-white"
        ><path
          d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
        ></path><rect x="2" y="9" width="4" height="12"></rect><circle
          cx="4"
          cy="4"
          r="2"></circle></svg
      >
    </a>
    <a
      href="mailto:michael@zandodev.com"
      class="duration-200focus-visible:outline rounded-xl p-1 transition-colors focus:outline focus-visible:outline-indigo-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6 stroke-gray-400 transition-colors duration-200 group-focus-visible:stroke-white hover:stroke-white"
        ><path
          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
        ></path><polyline points="22,6 12,13 2,6"></polyline></svg
      >
    </a>
  </div>
</footer>
