<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="canonical" href="https://zando.dev/" />
        <meta
            name="description"
            content="Michael Zandonella is a software engineer, web developer, and CS student based in Corvallis, Oregon. Explore his portfolio and resume."
        />
        <meta name="author" content="Michael Zandonella" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#030712" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://zando.dev/" />
        <meta property="og:title" content="Michael Zandonella - Zando.dev" />
        <meta
            property="og:description"
            content="Michael Zandonella is a software engineer, web developer, and CS student based in Corvallis, Oregon. Explore his portfolio and resume."
        />
        <meta
            property="og:image"
            content="https://zando.dev/zandowordmark.svg"
        />

        <title>
            Michael Zandonella - Software Engineer & Web Developer | Zando.dev
        </title>
    </head>
    <body
        class="font-inter bg-background mx-auto min-h-screen max-w-3xl p-4 text-white antialiased"
    >
        <slot />
    </body>
</html>
